* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  min-height: 100vh;

  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
  line-height: 1.5;

  color: #090940;
  background-color: rgb(255, 255, 255);
}

body > * {
  padding: 0.2rem;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: #090940;
  border-bottom-style: solid;
  border-bottom: #090940;
}

header > h1 {
  font-size: 1rem;
  text-align: center;
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #feb51e;
  overflow-x: hidden;
  padding-top: 20px;
  /* border: #090940;
  border-right-style: solid; */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  text-align: center;
}

nav li a {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #090940;
}

nav .image {
  text-align: center;
  margin: 0.75rem;
}

nav a.active {
  font-weight: bold;
}

section {
  width: min(100%, 38rem);
  background: white;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
section + section {
  margin-top: 1rem;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin-bottom: 1rem;
}

pre {
  padding-left: 0.2rem;
  background: rgb(0, 0, 0);
  color: white;
}

main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
