* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  font-family: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1, "liga" on, "dlig" on;
  line-height: 1.5;

  color: #090940;
  background-color: rgb(255, 255, 255);
}

body > * {
  padding: 0.2rem;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: #bfbfd8;
}

header > h1 {
  font-size: 1rem;
  text-align: right;
}

nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #feb51e;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  text-align: center;
}

nav li a {
  text-decoration: none;
  text-align: center;
  color: #090940;
  display: block;
  padding: 10px;
}

nav .image {
  text-align: center;
  margin: 0.75rem;
  display: block;
}

nav a.active {
  background-color: #ffe1a5;
}

nav a:hover:not(.active) {
  background-color: #625c51;
  color: white;
}

section {
  width: min(100%, 38rem);
  background: white;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

section + section {
  margin-top: 1rem;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin-bottom: 1rem;
}

pre {
  padding-left: 0.2rem;
  background: rgb(0, 0, 0);
  color: white;
}

main {

  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

h1 {
  font-size: 63.15px;
}

h2 {
  font-size: 47.37px;
}

h3 {
  font-size: 35.54px;
}

h4 {
  font-size: 26.66px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rigid-square, sans-serif;
}

.hexagon {
  margin-left: 680px;
}

button {
  font-family: rigid-square, sans-serif;
  font-size: 1em;
  font-weight: 800;
  padding: 0.75rem 1rem;
  border: none;
  color: #090940;
  background-size: 400%;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn-primary {
  background-image: linear-gradient(90deg, #FEB51E 50%, #090940 50%);

}

.btn-secondary {
  box-shadow:0px 0px 0px 2px #090940 inset;
  background: transparent;
}

.btn-primary:hover, .btn-secondary:hover {
  background-position: right center;
  transform: scale(1.05); 
  opacity: 0.9;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #090940;
  box-shadow: none;
}

.pagination {
  padding: 0.5rem 0.6rem 0.3rem 0.6rem;
  border: none;
  background-color: #F96C4F;
  cursor: pointer;
}
